@media (max-width: 414px) {
  .section_2 {
    width: 100%;
    flex-wrap: wrap;
  }
  .section_eye {
    width: 100%;
    height: 100%;
  }
  .section_2_all {
    width: 100%;
  }
  .section_5_people,
  .section_text_1,
  .section_circle {
    width: 100%;
  }
}
