@media (max-width: 414px) {
  body {
    overflow-x: hidden;
  }
  .yellow_circle {
    width: 48.3vw;
    height: 48.3vw;
    outline-width: 0.5vw;
    top: 140.4vw;
    left: 48.3vw;
  }
  .yellow_circle img {
    width: 3.6vw;
    height: auto;
  }
  .blue_circle_line {
    width: calc(100% - 1vw);
  }
  .pink_circle {
    width: 48.3vw;
    height: 48.3vw;
    outline-width: 0.5vw;
    top: 460vw;
    left: 4.83vw;
  }
  .pink_circle img {
    width: 3.6vw;
    height: auto;
  }
  .pink_circle_line {
    width: calc(100% - 1vw);
  }
  .section_pink_circle {
    width: 48.3vw;
    height: 48.3vw;
    outline-width: 0.5vw;
    top: 670vw;
    left: 48.3vw;
  }
  .section_pink_circle img {
    width: 3.6vw;
    height: auto;
  }
  .pink_ellipse_6,
  .pink_ellipse_5,
  .pink_ellipse_4,
  .pink_ellipse_3,
  .pink_ellipse_2,
  .pink_ellipse_1 {
    width: 2.5vw;
    outline-width: 0.5vw;
  }
  .section_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 4.5893719807vw;
    padding: 4.8vw;
    background-color: #312a53;
    color: white;
    position: relative;
    height: 14vw;
  }
  .section_1 img {
    width: 19.3vw;
    height: 5.3vw;
    position: absolute;
    left: 1.39vw;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #312a53;
    outline: 4.8vw solid #312a53;
  }
  .section_1 div {
    display: flex;
    flex-direction: row;
    gap: 50vw;
    animation: text_1_motion 16s infinite linear;
    white-space: nowrap;
    padding-left: 25vw;
    width: max-content;
  }
  .section_1 p:nth-of-type(1) {
    width: 205.3vw;
  }
  .section_1 p:nth-of-type(2) {
    width: 94.93vw;
  }
  .section_2 {
    width: 100%;
    height: auto;
    flex-direction: column;
    display: flex;
  }
  .section_eye {
    width: 100%;
    height: 180vw;
    background-size: cover;
    background-position: center;
  }
  .section_2_all {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .section_5_people {
    max-width: 100%;
    width: 100%;
    height: 63.04vw;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: end;
  }
  .section_5_people img {
    transform: scale(5);
  }
  .section_5_people img:nth-of-type(1) {
    margin-left: 4vw;
  }
  .section_5_people img:nth-of-type(2) {
    margin-left: 10vw;
  }
  .section_5_people img:nth-of-type(3) {
    margin-left: 14vw;
  }
  .section_5_people img:nth-of-type(4) {
    margin-left: 12vw;
  }
  .section_5_people img:nth-of-type(5) {
    margin-left: 12vw;
  }
  .section_text_1 {
    height: auto;
    font-size: 4.83vw;
    padding: 4.83vw;
  }
  .purple_cursor_elem_1 {
    transform: scale(3);
    margin-top: 18.3vw;
  }
  .section_circle {
    height: 63.04vw;
    transform: scale(2);
    position: relative;
    max-width: 100%;
    overflow: hidden;
    transform: scale(3);
  }
  .section_line_with_3_animations {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    overflow: hidden;
  }
  .dnk {
    width: 100%;
    height: 106vw;
    transform: scale(3);
  }
  .dnk_div_big {
    margin-top: 16vw;
  }
  .circle_math {
    width: 100%;
    height: 45vw;
    transform: scale(3);
    position: relative;
    overflow: hidden;
  }
  .circle_math_1_1,
  .circle_math_1_2 {
    margin-top: 26vw;
  }
  .people_opposite {
    width: 100%;
    height: 30vw;
    z-index: 1;
    overflow: hidden;
    transform: scale(3);
  }
  .p_opposite_1 {
    margin-top: 12vw;
  }
  .p_opposite_2 {
    margin-top: 11.5vw;
  }
  .section_with_bicycle {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .bicycle {
    width: 100%;
    height: 180vw;
    background-size: cover;
    background-position: center;
  }
  .section_3_all {
    width: 100%;
    overflow: hidden;
  }
  .immersion,
  .rotation_circles {
    width: 100%;
    height: 63.04vw;
  }
  .blue_circle_orbit {
    margin-top: 8.8vw;
    margin-left: 11vw;
  }
  .rotation_circles {
    z-index: 1;
    transform: scale(3.5);
    margin-top: 29vw;
    height: 29vw;
    margin-left: 121vw;
  }
  .immersion {
    transform: scale(3);
    margin-top: 25vw;
    width: 100%;
    height: 32vw;
    z-index: 1;
  }
  .section_text_2 {
    height: auto;
    font-size: 4.83vw;
    padding: 4.83vw;
    z-index: 2;
  }
  .purple_cursor_elem_2 {
    transform: scale(3);
    right: 0;
    margin-top: -2.6vw;
  }
  .section_4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }
  .flying_stars {
    width: 100%;
    height: 63.04vw;
    height: 60vw;
  }
  #p_yellow {
    transform: scale(3);
    margin-top: 23vw;
    margin-left: 35vw;
  }
  .circle_3d {
    width: 100%;
    height: 63.04vw;
    transform: scale(3);
    margin-top: 31vw;
    margin-left: 100vw;
    height: 31vw;
  }
  .footer img {
    width: 8.7vw;
    height: auto;
  }
  .footer {
    overflow: hidden;
    position: relative;
    background-color: #312a53;
    padding: 4.8vw 0;
    font-size: 4.5893719807vw;
  }
  .footer div {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8vw;
    animation: footer_motion 20s infinite linear;
    white-space: nowrap;
    padding-left: 100%;
    width: max-content;
  }
  .line_1,
  .line_2,
  .line_3,
  .line_4,
  .line_5,
  .line_6,
  .line_7,
  .line_8,
  .line_9,
  .line_10,
  .line_11,
  .line_12,
  .line_13,
  .line_14 {
    position: absolute;
    outline: 0.35vw dashed #312a53;
    height: auto;
    width: 100vw;
    margin-left: 0;
  }
  .line_1 {
    margin-top: 14.1vw;
    z-index: 2;
  }
  .line_2 {
    margin-top: 194vw;
    z-index: 2;
  }
  .line_3 {
    margin-top: 257.1vw;
    z-index: 2;
  }
  .line_4 {
    margin-top: 288.2vw;
    z-index: 2;
  }
  .line_5 {
    margin-top: 350.9vw;
    z-index: 2;
  }
  .line_6 {
    margin-top: 411vw;
    z-index: 2;
  }
  .line_7 {
    margin-top: 471.4vw;
    z-index: 2;
  }
  .line_8 {
    margin-top: 531.8vw;
    z-index: 2;
  }
  .line_9 {
    margin-top: 711.8vw;
    z-index: 2;
  }
  .line_10 {
    z-index: 3;
    margin-top: 769vw;
    transform: rotate(0);
  }
  .line_11 {
    z-index: 3;
    margin-top: 789.3vw;
    transform: rotate(0);
  }
  .line_12 {
    z-index: 2;
    margin-top: 847vw;
    transform: rotate(0);
  }
  .line_13 {
    z-index: 2;
    margin-top: 907.2vw;
    transform: rotate(0);
    display: block;
  }
  .line_14 {
    z-index: 2;
    margin-top: 969vw;
    transform: rotate(0);
    display: block;
  }
}
