@keyframes text_1_motion {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes pink_circle_line_width {
  0% {
    width: calc(100% - 1.042vw);
  }
  100% {
    width: 1.805vw;
  }
}
@keyframes circle_math_2 {
  0% {
    transform: rotate(0deg) translateY(4.1666667vw) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(4.1666667vw) rotate(-360deg);
  }
}
@keyframes circle_math_3 {
  0% {
    transform: rotate(0deg) translateY(4.1666667vw) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(4.1666667vw) rotate(-360deg);
  }
}
@keyframes circle_math_4 {
  0% {
    transform: rotate(0deg) translateY(4.1666667vw) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(4.1666667vw) rotate(-360deg);
  }
}
@keyframes circle_math_5_1 {
  0% {
    transform: rotate(0deg) translateY(15.278vw) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(15.278vw) rotate(-360deg);
  }
}
@keyframes circle_math_5_2 {
  0% {
    transform: rotate(0deg) translateY(11vw) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(11vw) rotate(-360deg);
  }
}
@keyframes circle_math_5_3 {
  0% {
    transform: rotate(0deg) translateY(6.75vw) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(6.75vw) rotate(-360deg);
  }
}
@keyframes circle_math_5_4 {
  0% {
    transform: rotate(0deg) translateY(2.5vw) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(2.5vw) rotate(-360deg);
  }
}
@keyframes circle_motion {
  0% {
    transform: translateX(0.2vw);
  }
  50% {
    transform: translateX(-0.2vw);
  }
  100% {
    transform: translateX(0.2vw);
  }
}
@keyframes white_cursor_line_1 {
  0% {
    width: 30.1vw;
  }
  80% {
    width: 9.65vw;
  }
  90% {
    width: 9.65vw;
  }
  98% {
    width: 30.1vw;
  }
  100% {
    width: 30.1vw;
  }
}
@keyframes purple_cursor_elem_1 {
  0% {
    width: 31.9vw;
  }
  80% {
    width: 9.65vw;
  }
  90% {
    width: 9.65vw;
  }
  98% {
    width: 31.9vw;
  }
  100% {
    width: 31.9vw;
  }
}
@keyframes white_cursor_line_2 {
  0% {
    width: 30.1vw;
  }
  80% {
    width: 5vw;
  }
  90% {
    width: 5vw;
  }
  98% {
    width: 30.1vw;
  }
  100% {
    width: 30.1vw;
  }
}
@keyframes purple_cursor_elem_2 {
  0% {
    width: 31.9vw;
  }
  80% {
    width: 5vw;
  }
  90% {
    width: 5vw;
  }
  98% {
    width: 31.9vw;
  }
  100% {
    width: 31.9vw;
  }
}
@keyframes purple_cursor_line {
  0% {
    background-color: #312a53;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    background-color: #312a53;
  }
}
@keyframes yellow_circle_motion {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes blue_circle_elem_1 {
  0% {
    transform: rotate(270deg);
  }
  57.89% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@keyframes blue_circle_elem_2 {
  0% {
    transform: rotate(240deg);
  }
  57.89% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(-120deg);
  }
}
@keyframes blue_circle_elem_3 {
  0% {
    transform: rotate(210deg);
  }
  57.89% {
    transform: rotate(210deg);
  }
  100% {
    transform: rotate(-150deg);
  }
}
@keyframes blue_circle_elem_4 {
  0% {
    transform: rotate(180deg);
  }
  57.89% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes blue_circle_elem_5 {
  0% {
    transform: rotate(150deg);
  }
  57.89% {
    transform: rotate(150deg);
  }
  100% {
    transform: rotate(-210deg);
  }
}
@keyframes blue_circle_elem_6 {
  0% {
    transform: rotate(120deg);
  }
  57.89% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(-240deg);
  }
}
@keyframes blue_circle_elem_7 {
  0% {
    transform: rotate(90deg);
  }
  57.89% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(-270deg);
  }
}
@keyframes blue_circle_elem_8 {
  0% {
    transform: rotate(60deg);
  }
  57.89% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(-300deg);
  }
}
@keyframes blue_circle_elem_9 {
  0% {
    transform: rotate(30deg);
  }
  57.89% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-330deg);
  }
}
@keyframes blue_circle_elem_10 {
  0% {
    transform: rotate(0deg);
  }
  57.89% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes blue_circle_elem_11 {
  0% {
    transform: rotate(-30deg);
  }
  57.89% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-390deg);
  }
}
@keyframes blue_circle_elem_12 {
  0% {
    transform: rotate(-60deg);
  }
  57.89% {
    transform: rotate(-60deg);
  }
  100% {
    transform: rotate(-420deg);
  }
}
@keyframes blue_line_dnk_motion {
  0% {
    height: 0;
  }
  50% {
    height: 7.639vw;
  }
  100% {
    height: 0;
  }
}
@keyframes dnk_motion {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.3vw);
  }
}
@keyframes circle_math_1_1 {
  0% {
    transform: rotate(0deg) translateY(4.1666667vw) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(4.1666667vw) rotate(-360deg);
  }
}
@keyframes circle_math_1_2 {
  0% {
    transform: rotate(-90deg) translateY(4.1666667vw) rotate(-90deg);
  }

  100% {
    transform: rotate(270deg) translateY(4.1666667vw) rotate(-450deg);
  }
}
@keyframes pink_cicles_motion {
  0% {
    rotate: 0;
  }
  100% {
    rotate: -390deg;
  }
}
@keyframes circle_3d_motion {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
}
@keyframes circle_3d_motion_alternate {
  0% {
    transform: scaleX(-1);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(-1);
  }
}
@keyframes img_1 {
  0% {
    opacity: 0%;
  }
  15% {
    opacity: 0%;
  }
  20% {
    opacity: 100%;
  }
}
@keyframes img_2 {
  0% {
    opacity: 0%;
  }
  35% {
    opacity: 0%;
  }
  40% {
    opacity: 100%;
  }
}
@keyframes img_3 {
  0% {
    opacity: 0%;
  }
  55% {
    opacity: 0%;
  }
  60% {
    opacity: 100%;
  }
}
@keyframes img_4 {
  0% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  80% {
    opacity: 100%;
  }
}
@keyframes p_opposite_2 {
  0% {
    filter: blur(0);
  }
  30% {
    filter: blur(0);
  }
  100% {
    filter: blur(2vw);
  }
}
@keyframes flying_stars_motion {
  0% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(-66.67vw);
  }
}

@keyframes immersion_circle_motion_1 {
  0% {
    width: 42.7902736977vw;
    height: 42.7902736977vw;
  }
  100% {
    width: 45vw;
    height: 45vw;
  }
}
@keyframes immersion_circle_motion_2 {
  0% {
    width: 40.2228572758vw;
    height: 40.2228572758vw;
  }
  100% {
    width: 42.7902736977vw;
    height: 42.7902736977vw;
  }
}
@keyframes immersion_circle_motion_3 {
  0% {
    width: 37.00502869375vw;
    height: 37.00502869375vw;
  }
  100% {
    width: 40.2228572758vw;
    height: 40.2228572758vw;
  }
}
@keyframes immersion_circle_motion_4 {
  0% {
    width: 33.3045258244vw;
    height: 33.3045258244vw;
  }
  100% {
    width: 37.00502869375vw;
    height: 37.00502869375vw;
  }
}
@keyframes immersion_circle_motion_5 {
  0% {
    width: 29.3079827255vw;
    height: 29.3079827255vw;
  }
  100% {
    width: 33.3045258244vw;
    height: 33.3045258244vw;
  }
}
@keyframes immersion_circle_motion_6 {
  0% {
    width: 25.2048651439vw;
    height: 25.2048651439vw;
  }
  100% {
    width: 29.3079827255vw;
    height: 29.3079827255vw;
  }
}
@keyframes immersion_circle_motion_7 {
  0% {
    width: 21.1720867209vw;
    height: 21.1720867209vw;
  }
  100% {
    width: 25.2048651439vw;
    height: 25.2048651439vw;
  }
}
@keyframes immersion_circle_motion_8 {
  0% {
    width: 17.3611111111vw;
    height: 17.3611111111vw;
  }
  100% {
    width: 21.1720867209vw;
    height: 21.1720867209vw;
  }
}
@keyframes immersion_circle_motion_9 {
  0% {
    width: 13.8888888889vw;
    height: 13.8888888889vw;
  }
  100% {
    width: 17.3611111111vw;
    height: 17.3611111111vw;
  }
}
@keyframes immersion_circle_motion_10 {
  0% {
    width: 8.5vw;
    height: 8.5vw;
    opacity: 0;
  }
  100% {
    width: 13.8888888889vw;
    height: 13.8888888889vw;
    opacity: 1;
  }
}
