@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
