body {
  width: 100vw;
  display: block;
  margin: 0 auto;
  font-family: "Manrope";
  position: relative;
  overflow-x: hidden;
}
section:nth-of-type(1) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
